database-url=
redis-url=
jwt-secret=
internal-api-key=
entra-tenant-id=
entra-client-id =
entra-client-secret=
azure-foundry-key=
azure-foundry-endpoint=
smtp-username=
smtp-password=
entra-group-platform-admin=
entra-group-org-owner=
entra-group-manager=
entra-group-member=